html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url("../img/geometry2.png"); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 * main deck and card styles in courtesy of Udacity
 */

.deck-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck {
  width: 300px;
  height: 300px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.5rem 0.7rem 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.2rem;
}

.deck .card {
  height: calc((100% - 3rem) / 4);
  width: calc((100% - 3rem) / 4);
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.12rem 1.2rem 0 rgba(46, 61, 73, 0.5);
}

/* 
 * Temporary state triggering a head shake gesture 
 */
.deck .card.mismatch {
  animation: head-shake 0.3s;
  transform-origin: bottom center;
}

@keyframes head-shake {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.deck .card.turned {
  background: #02b3e4;
  cursor: default;
  font-size: 2rem;
}

/*
 * When a match is found a emphasis gesture is triggered
 */
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 2rem;
  animation: emphasize 0.2s;
}

@keyframes emphasize {
  0% {
    background: #02ccba;
    font-size: 2rem;
  }
  50% {
    background: #0dffe9;
    font-size: 3rem;
  }
  100% {
    background: #02ccba;
    font-size: 2rem;
  }
}

/*
 * Styles for the Score Panel
 */

.elapsed-container {
  /* 
   * a font-size relative width with a bit of slack is used so that the elapsed 
   * time does not visible move around as its value changes 
   */
  width: 9rem;
}

.score-panel-section {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 280px;
  margin-bottom: 0.6rem;
}

.stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 0.3rem 0 0;
}

.stars li {
  list-style: none;
  display: inline-block;
}

.large-stars {
  font-size: 2rem;
}

.restart {
  float: right;
  cursor: pointer;
}

/*
 * modal design is adapted from https://sabe.io/tutorials/how-to-create-modal-popup-box 
 */
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  margin: 8rem auto auto;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* 
 * button styling adapted from https://codepen.io/sebj54/pen/oxluI
 */
.button {
  position: relative;
  display: block;
  margin: 1rem auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #02ccba;
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.button:hover,
.btn:focus {
  background-color: #02afa1;
}
.button span {
  display: block;
  padding: 12px 24px;
  font-weight: bold;
}
.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

/*
 * Media queries
 */
@media screen and (min-width: 480px) and (min-height: 560px) {
  html {
    font-size: 14px;
  }

  .score-panel-section {
    width: 440px;
  }

  .deck {
    width: 460px;
    height: 460px;
  }

  .modal-dialog {
    width: 420px;
    height: 420px;
  }
}

@media screen and (min-width: 640px) and (min-height: 720px) {
  html {
    font-size: 16px;
  }

  .score-panel-section {
    width: 600px;
  }

  .deck {
    width: 620px;
    height: 620px;
  }
}